{% extends "contacts/base.html" %}

{% block content %}

<div class="card p-4 shadow">

  <h3>Add Contact</h3>
  {% if form.errors %}
  <div class="alert alert-danger">
    {{ form.errors }}
  </div>
{% endif %}


  <form method="POST">
    {% csrf_token %}

    <!-- Name -->
    <div class="mb-3">
      <label>Name</label>
      {{ form.name }}
      <div class="text-danger">
        {{ form.name.errors }}
      </div>
    </div>

    <!-- Phone -->
    <div class="mb-3">
      <label>Phone</label>
      {{ form.phone }}
      <div class="text-danger">
        {{ form.phone.errors }}
      </div>
    </div>

    <!-- Email -->
    <div class="mb-3">
      <label>Email</label>
      {{ form.email }}
      <div class="text-danger">
        {{ form.email.errors }}
      </div>
    </div>

    <button class="btn btn-success">
      <i class="fa fa-save"></i> Save
    </button>

  </form>

</div>

{% endblock %}
